ASSIGNMENT 1

Q1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as [
WORKER_NAME]
.

Ans 1.Select [FIRST_NAME] as [Worker_Name] FROM Worker

Q2.Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Ans 2. Select distinct DEPARTMENT from Worker

Q3.Write an SQL query to show the last 5 record from a table.

Ans 3.select top 5 * from table 
       Order by id desc